body {
    background-color: #ffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    color: #152c5b;
}

h2 {
    font-weight: 600;
    font-size: 26px;
    color: #152c5b;
}

h3 {
    font-weight: 500;
    font-size: 22px;
    color: #152c5b;
}

h4 {
    font-weight: 500;
    font-size: 15px;
    color: #152c5b;
}

p {
    font-weight: 300;
    font-size: 15px;
    color: #b0b0b0;
}

.btn-shadow {
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
}

.btn-block {
    width: 100%;
}

.btn-primary {
    background: #3252df;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #203fcb;
    border-color: #1e3cc0;
}

.btn-secondary {
    background-color: transparent;
    border-color: #3252df;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.btn-secondary:hover {
    background: #748eff;
    color: #ffff;
}

.btn-none-style {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-light input {
    background: #eeeeee;
    border-radius: 16px;
    width: 300px;
}
.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    color: #3252df;
    text-decoration: none;
}
.brand-text-icon :hover {
    color: #3252df;
}

.text-gray-900 {
    color: #152c5b;
}

.dropdown-menu.show {
    display: block;
    margin-left: -60px;
}

section {
    margin-top: 40px;
}

.card-product {
    width: 250px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 2px;
    border-radius: 10px;
    cursor: pointer;
}

.card-product .product-name {
    min-height: 40px;
}

.card-product h4,
p {
    margin-bottom: 5px;
}
