.section-hero p {
    font-size: 18px;
}

.section-product .btn-filter {
    width: 100px;
}

.section-product .active {
    background: #748eff;
    border-color: transparent;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ffff;
}
