

.borderRadius {
    border-radius: 20px;  
  }
  
  .btnColor {
      background-color: #7126b5;
      color: #fff;
      height: 3em;
  }
  
  .btnColor:hover {
      background-color: #fff;
      border-color: #7126b5;
  }
  .fotoProfile {
     text-align: center;
  }
  
  .arrow {
      color: black;
  }
  
  .arrow:hover {
      color: #3252df;
  }
  
  
  @media screen and (min-width: 915px) {
   #profile {
      width: 50%;
   }
  }
  
  @media screen and (max-width: 991px) {
  #profile {
    margin-top: 2em;
 }
  }