.section-title-product .product-title p {
    font-size: 18px;
}

.section-galery-product .img-product-big,
.thumb-img {
    background-color: transparent;
    border: none;
}

.section-galery-product .img-product-big .shoes {
    max-height: 300px;
    transform: rotate(25deg);
}

.section-galery-product .default-image,
.pad-image,
.shadow-image {
    max-width: 80%;
}

.section-galery-product .card-thumb {
    background-color: #f4f4f4;
    width: 200px;
    height: 100%;
    margin: auto;
}

.owl-carousel .owl-stage-outer {
    padding: 0px 10px 0px 10px;
}

.section-detail-product .description-product p {
    font-size: 16px;
    line-height: 26px;
}

.section-detail-product .card-detail-right {
    width: 400px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.section-detail-product .card-detail-right .seller-image {
    width: 48px;
    height: 48px;
}

.section-detail-product .card-detail-right h3 {
    color: #1abc9c;
}

footer {
    border-top: 1px solid #e9ecef;
    padding-top: 50px;
}

footer .brand-tagline {
    margin-top: 8px;
    color: #adb5bd;
    font-weight: 300;
}

footer .list-group-item {
    padding: 0.3125rem 0;
    border: 0;
}

footer .list-group-item a,
span {
    color: #adb5bd;
    font-weight: 300;
    text-decoration: none;
}

footer .list-group-item a:hover {
    color: #343a40;
}

footer .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: #adb5bd;
}
