body {
    background-color: #ffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    color: #152c5b;
}

h2 {
    font-weight: 600;
    font-size: 26px;
    color: #152c5b;
}

h3 {
    font-weight: 500;
    font-size: 22px;
    color: #152c5b;
}

h4 {
    font-weight: 500;
    font-size: 15px;
    color: #152c5b;
}

p {
    font-weight: 300;
    font-size: 15px;
    color: #b0b0b0;
}

.btn-shadow {
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
}

.btn-block {
    width: 100%;
}

.btn-primary {
    background: #3252df;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #203fcb;
    border-color: #1e3cc0;
}

.btn-secondary {
    background-color: transparent;
    border-color: #3252df;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.btn-secondary:hover {
    background: #748eff;
    color: #ffff;
}

.btn-none-style {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-light input {
    background: #eeeeee;
    border-radius: 16px;
    width: 300px;
}
.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    color: #3252df;
    text-decoration: none;
}
.brand-text-icon :hover {
    color: #3252df;
}

.text-gray-900 {
    color: #152c5b;
}

.dropdown-menu.show {
    display: block;
    margin-left: -60px;
}

section {
    margin-top: 40px;
}

.section-hero p {
    font-size: 18px;
}

.section-product .btn-filter {
    width: 100px;
}

.section-product .active {
    background: #748eff;
    border-color: transparent;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    color: #ffff;
}

.section-product .card-product {
    width: 250px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 2px;
    border-radius: 10px;
    cursor: pointer;
}

.section-product .card-product .product-name {
    min-height: 40px;
}

.section-product .card-product h4,
p {
    margin-bottom: 5px;
}

.section-title-product .product-title p {
    font-size: 18px;
}

.section-galery-product .img-product-big,
.thumb-img {
    background-color: transparent;
    border: none;
}

.section-galery-product .img-product-big .shoes {
    max-height: 300px;
    transform: rotate(25deg);
}

.section-galery-product .default-image,
.pad-image,
.shadow-image {
    max-width: 80%;
}

.section-galery-product .card-thumb {
    background-color: #f4f4f4;
    width: 200px;
    height: 100%;
    margin: auto;
}

.owl-carousel .owl-stage-outer {
    padding: 0px 10px 0px 10px;
}

.section-detail-product .description-product p {
    font-size: 16px;
    line-height: 26px;
}

.section-detail-product .card-detail-right {
    width: 400px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.section-detail-product .card-detail-right .seller-image {
    width: 48px;
    height: 48px;
}

.section-detail-product .card-detail-right h3 {
    color: #1abc9c;
}

footer {
    border-top: 1px solid #e9ecef;
    padding-top: 50px;
}

footer .brand-tagline {
    margin-top: 8px;
    color: #adb5bd;
    font-weight: 300;
}

footer .list-group-item {
    padding: 0.3125rem 0;
    border: 0;
}

footer .list-group-item a,
span {
    color: #adb5bd;
    font-weight: 300;
    text-decoration: none;
}

footer .list-group-item a:hover {
    color: #343a40;
}

footer .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: #adb5bd;
}
